@import "./variable/color";

body {
    overflow-x: hidden;
}

p {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    color: $scl_paragraph;
    margin-bottom: 0px !important;
    @media only screen and (min-width: 768px) {
        font-size: 12px;

    }

}

.is-full-width {
    width: 100%;
}

.is-full-height {
    height: 100%;
}

.container {
    padding: 0 10%;
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

// .circle {
//     height: 14px;
//     width: 14px;
//     background-color: #121212;
//     border-radius: 50%;
//     display: inline-block;
// }

.devider {
    width: 100%;
    height: 2px;
    background-color: #121212;
}

.text-yellow {
    color: $scl_yellow;
}

.full-height {
    height: 100%;
}

.scl-content {
    padding: 0 10%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

h1.is-title-section {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

p.is-title-section {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $scl_title;
    margin: 0;
}

.is-text-align-left {
    text-align: left;
}

.is-text-white {
    color: #ffff;
}

.is-text-align-right {
    text-align: right;
}

.is-text-align-center {
    text-align: center;
}

.is-title-bold {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.is-bold {
    font-weight: bold !important;
    font-family: Montserrat !important;
}

.is-title {
    color: $scl_title !important;
}

.is-padding {
    padding: 15px;
}


.button {
    min-width: 160px !important;
    min-height: 46px;
    background-color: $scl_yellow;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.005em;
}

.circle {
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;

    &-yellow {
        min-height: 25px;
        min-width: 25px;
        border-radius: 50%;
        background-color: $scl_yellow;
    }
}

.is-yellow-transparant {
    background: rgba(244, 201, 36, 0.2);
}